<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "CarePath" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CarePath" %>">

  <% if user_signed_in? %>
    <!-- Signed in CSS/JS basics -->
    <%= stylesheet_link_tag "mans_css/man_aaa_basic", :media => "all" %>
    <%= javascript_include_tag "mans_js/man_aaa_basic" %>

  <% else %>
    <!-- Not signed in CSS/JS basics -->
    <%= stylesheet_link_tag "mans_css/man_aaa_signed_out_basic", :media => "all" %>
    <%= javascript_include_tag "mans_js/man_aaa_signed_out_basic" %>
  <% end %>

  <!-- Page specific CSS/JS -->
  <%= content_for :stylesheets %>
  <%= content_for :js_test %>

  <%= yield(:page_js) %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>


</head>